In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("spam.csv" ,encoding="latin-1")

In [3]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
data.columns

Index(['Category', 'Message'], dtype='object')

In [6]:
data = data.rename(columns={'Category': 'class', 'Message': 'message'})

In [7]:
data.columns

Index(['class', 'message'], dtype='object')

In [8]:
data['class']=data['class'].map({'ham':0, 'spam':1})

In [9]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...